<h2>{{ park_data.fullName }} | {{ park_data.parkCode }}</h2>
<p>{{ park_data.description }}</p>
<img
  src="{{ park_data.images[0].url }}"
  alt="{{ park_data.images[0].altText }}"
  width="300"
  height="300">